.mycontainer {
  text-align: center;
}

.mycontainer div {
  display: inline-block;
  padding: 20px;
  width: 250px;
}

.rbc-label-start {
  font-family: fontawesome;
  font-weight: bold;
  font-size: 30px;
}

.rbc-center-text {
  font-family: 'Roboto', 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial;
  fill: white;
}

.cartvis .rbc-center-text-line0 {
  font-size: 95px;
}

.cartvis .rbc-center-text-line1 {
  font-size: 20px;
}

.flash-warn {
  -moz-animation: flash-warn 0.6s 5 alternate;
  -webkit-animation: flash-warn 0.6s 5 alternate;
  animation: flash-warn 0.6s 5 alternate;
}

@-moz-keyframes flash-warn {
  0% {
    fill: #ff2f2f;
  }
  100% {
    fill: #ff2f2f00;
  }
}
@-webkit-keyframes flash-warn {
  0% {
    fill: #ff2f2f;
  }
  100% {
    fill: #ff2f2f00;
  }
}
@keyframes flash-warn {
  0% {
    fill: #ff2f2f;
  }
  100% {
    fill: #ff2f2f00;
  }
}
